body {
    background-color: #5e5e5e;
}

#wp-app {
    margin-top: 50px;
}

.ui-coverflow-wrapper {
    height: 400px;
    margin-top: 100px;
}

.ui-state-active {
    border: 0px;
}

.contact {
    margin: auto;
    margin-top: 300px;
    color: whitesmoke;
    text-align: center;
}

.contact a {
    color: whitesmoke;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.contact .company {
    font-size: 2em;
}

.loading {
    text-align: center;
    font-size: 4em;
}